<div class="custom-container">
    <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="7000"
        color="accent"
        maxWidth="auto"
        proportion="49"
        slides=""
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="">
        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let slide of slides; let i = index"
            [image]="slide.image"
            overlayColor=""
            [hideOverlay]="false">
        </mat-carousel-slide>
    </mat-carousel> 
</div>