<div class="container pt-3 border border-primary">
    <div class="row border border-secondary">

        <div class="col-md-8 border border-success">
            <div class="row border border-warning">
                <div class="col-md-4 border border-info my-2">
                    <img src="./assets/img/myphoto.jpg" class="img-fluid mx-auto d-block" alt="...">
                </div>
                <div class="col-md-8 border border-info">
                    <div class="row row-cols-1 border border-warning">
                        <div class="col border border-info">
                            <div class="h2 font-weight-bold">Sergiy Zinovyev</div>
                            <div class="h6">Front-End Developer</div>
                            <div class="h6">(Angular2/Node.js/MySQL)</div>
                        </div>
                        <div class="col border border-info mt-5">
                            <div>
                                <img src="./assets/logo/phone.png" class="logo" alt="...">
                                <img src="./assets/logo/skype.png" class="logo" alt="...">
                                <img src="./assets/logo/telegram.png" class="logo" alt="...">
                                <img src="./assets/logo/watsapp.png" class="logo" alt="...">
                                <img src="./assets/logo/viber.png" class="logo" alt="...">
                                <span class="contact-text">+380673130512</span> 
                            </div>
                            <div>
                                <img src="./assets/logo/email.png" class="logo" alt="...">
                                <span class="contact-text"><a href="mailto:thrion1@gmail.com">thrion1@gmail.com</a></span>
                            </div>
                            <div>
                                <img src="./assets/logo/github.png" class="logo" alt="...">
                                <span class="contact-text"><a href="https://github.com/sergiyZinovyev">https://github.com/sergiyZinovyev</a></span> 
                            </div>
                            <div>
                                <img src="./assets/logo/location.png" class="logo" alt="...">
                                <span class="contact-text">Lviv</span> 
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row border border-warning">
                <div class="col-12 border border-info my-2">
                    <div class="text-indent">My personal qualities: analytical intelligence, organizational skills, willingness and desire to constantly learn new things and develop in the field of information technology.</div>
                    <div class="text-indent">My hobbies: electronic music, art house films, reading classical literature, fitness classes. I am interested in new discoveries in science and technology</div>
                </div>
            </div>
            <div class="row border border-warning">
                <div class="col-12 border border-info my-2">
                    <div class="text-color-1">Education</div>
                </div>
            </div>
            <div class="row border border-warning">
                <div class="col-12 border border-info my-2">
                    <div class="text-color-1">Eperiance</div>
                </div>
            </div>
        </div>

        <div class="col-md-4 border border-success">
            
            <div class="h3 my-2">skills</div>

            <div class="row border border-warning">
                <div class="col-12 border border-info my-2">
                    <div class="text-color-1">Software</div>
                </div>
            </div>

            <div class="row border border-warning">
                <div class="col-12 border border-info my-2">
                    <div class="text-color-1">Programing Languages</div>
                </div>
            </div>

        </div>

    </div> 
</div>