<div class="container custom-container pt-3">
    <div class="row">

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 my-2">
                    <img src="./assets/img/myphoto.jpg" class="img-fluid mx-auto d-block" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="h2 font-weight-bold">{{cv.title.name}}</div>
                            <div class="h6">{{cv.title.profession}}</div>
                            <div class="h6">({{cv.title.specialization}})</div>
                        </div>
                        <div class="col mt-5">
                            <div>
                                <img src="./assets/logo/phone.png" class="logo" alt="...">
                                <img src="./assets/logo/skype.png" class="logo" alt="...">
                                <img src="./assets/logo/telegram.png" class="logo" alt="...">
                                <img src="./assets/logo/watsapp.png" class="logo" alt="...">
                                <img src="./assets/logo/viber.png" class="logo" alt="...">
                                <span class="contact-text">{{cv.contacts.phone}}</span> 
                            </div>
                            <div>
                                <img src="./assets/logo/email.png" class="logo" alt="...">
                                <span class="contact-text"><a [href]="'mailto:' + cv.contacts.email">{{cv.contacts.email}}</a></span>
                            </div>
                            <div>
                                <img src="./assets/logo/github.png" class="logo" alt="...">
                                <span class="contact-text"><a [href]="cv.contacts.githab">{{cv.contacts.githab}}</a></span> 
                            </div>
                            <div>
                                <img src="./assets/logo/location.png" class="logo" alt="...">
                                <span class="contact-text">{{cv.contacts.location}}</span> 
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
            <div class="row my-2">
                <div class="col-12 my-2">
                    <div class="text-indent">{{cv.description}}</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row my-2">
                <div class="col-12 my-2">
                    <div class="text-color-1 mb-3">Education</div>
                    <app-biography [experience]='cv.education'></app-biography>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row my-2">
                <div class="col-12 my-2">
                    <div class="text-color-1 mb-3">Eperience</div>
                    <app-biography [experience]='cv.experience'></app-biography>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div class="col-md-4">

            <div class="h3 my-2">skills</div>

            <div class="row my-2">
                <div class="col-12 my-2">
                    <div class="text-color-1 mb-3">Software</div>
                    <div *ngFor='let item of cv.software' class="software-text">{{item}}</div>
                </div>
            </div>

            <mat-divider></mat-divider>
 
            <div class="row my-2">
                <div class="col-12 my-2">
                    <div class="text-color-1 mb-3">Programing Languages</div>
                    <app-prog-lang [languages]='cv.programmingLanguages'></app-prog-lang>
                </div>
            </div>

        </div>

    </div> 
</div>